.detail-container{
  display: flex;
  margin: 0 10%;
  gap: 40px;
  background-color: white;
  padding: 20px;
}

.description {
  font-size: 20px;
  line-height: 1.8em;
  margin-bottom: 30px;
}

.detail-btn{
  margin-left: -80px;
}

.detail-btn button {
  padding: 9px 8px;
}