@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

label, input[type=text], input[type=file], textarea {
  display: block;
}

.addform {
  margin-left: 39%;
}

h2 {
  text-align: center;
  font-family: 'Hind Guntur';
  font-size: 28px;
  margin: 50px auto 20px;
}

.addform input[type=text] {
  width: 328px;
  padding: 8px;
  border: solid 1px black;
  border-radius: 8px;
}

.addform textarea{
  padding: 8px;
  border-radius: 11px;
  border: solid 1px black;
}

.addform label {
  margin: 18px 0 0;
  font-size: 16px;
  font-family: 'Hind Guntur';
}

.addform input[type=file]{
  margin-bottom: 25px;
}

h2, .addform label, .addform input[type=file]{
  color: white;
  text-shadow: 1px 1px 2px black;
}

button {
  margin-left: 13%;
  text-align: center;
  padding: 8px 15px;
  border-radius: 8px;
  background-color: rgb(46, 46, 46);
  color: white;
  border: 1px solid black;
  font-weight: bold;
}

button:hover{
  background-color: white;
  color: rgb(46, 46, 46);
  cursor: pointer;
}