@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

label, input[type=text], input[type=file], textarea {
  display: block;
}

.form {
  margin-left: 36%;
}

h2{
  text-align: center;
  font-family: 'Hind Guntur';
  margin-top: 30px;
}

input[type=text] {
  width: 326px;
  padding: 8px;
  border: solid 1px black;
  border-radius: 2px;
}

textarea{
  padding: 8px;
}

label {
  margin: 18px 0 0;
  font-size: 15px;
  font-family: 'Hind Guntur';
}

input[type=file]{
  margin-bottom: 25px;
}

button {
  margin-left: 15%;
  text-align: center;
  padding: 8px 15px;
  border-radius: 2px;
  background-color: rgb(46, 46, 46);
  color: white;
  border: 1px solid black;
  font-weight: bold;
}

button:hover{
  background-color: white;
  color: rgb(46, 46, 46);
}